node_modules
dist
.env
*.log

backend/login.json
backend/login-ivan.json
backend/refresh.json
backend/refresh-ivan.json
backend/create-emp.json
backend/patch-*.json

coverage
backend/coverage/
backend/shift.json
backend/shift-*.json
backend/sick.json
backend/sick-*.json